*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    gap: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.header-left{
    display: flex;
    align-items: center;
   
}

.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}

.header-address{
    padding: 20px 30px;
}

.header-address h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.header-address p{
    font-size: 14px;
}

.searchBox{
    flex-grow: 1;
    display: flex;
    border-radius: 15px;
    background-color: #f8f8f8;
    border: 1px solid #f4f4f4;
    
}

.searchBox button{
    padding: 15px;
    background-color: transparent;
    border: none;
}

.searchBox input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    
}

.searchBox input:focus{
    outline: none;
}

.headerBtn{
    display: flex;
    gap: 40px;
    margin-right: 40px;
}

.headerBtn button{
    font-size: 15px;
    padding: 15px;
    background-color: transparent;
    border: none;

}

.headerBtn button:last-child{
    color: white;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(12, 131, 31);
}

.banner-section{
    margin: 0px auto;
    max-width: 1280px;
}

.banner-section img{
    width: 100%;
}

.order-banner{
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.order-item{
    flex-basis: 27%;
    margin: 1%;
}

.order-item img{
    width: 100%;
}

.category-section{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: auto;
}

.category-item{
    flex-basis: 10%;
}

.category-item img{
    width: 100%;
}

.product-section{
    max-width: 1280px;
    padding: 30px;
}

.heading-row h2{
    font-size: 22px;
}

.heading-row a{
    color: #328839;
    font-size: 18px;
}

.product-row{
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
    display: flex;
    gap: 2%;

}

.product-item{
    flex-basis: 15%;
    box-shadow: 0px 0px 10px 2px #ccc;
    border: 1px solid #ccc;
    border-radius:15px;
    margin-bottom: 20px;
  
}

.product-img{
    text-align: center;
    padding: 10px;
}

.product-img p{
    background-color: #f8f8f8;
    display: flex;
   width: 60px;
   gap: 5px;
   padding: 2px;
   justify-content: center;
   align-items: center;
    text-align: left;
    font-family: 12px;

}

.product-content{
    padding: 10px;
    padding-top: 0;
    
}

.product-content h3{
    margin-bottom: 10px;
    font-size: 14px;
}

.product-content p{
    font-size: 14px;
   color: #848080;
}

.btn-price--outer{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.btn-price--outer button{
    border: 1px solid #328839;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #f7fff9;
}

footer{
    padding: 40px 0px 0px 0px;
}

.footer-mid{
    max-width: 1280px;
    margin: auto;
}

.footer-mid--row1{
    width: 100%;
    display: flex;
    gap: 40px;
}

.footer-mid--row1 h3{
    margin-bottom: 20px;
}

.footer-mid--left{
    flex-basis: 30%;
}

.quic-links{
    display: flex;
}

.quic-links ul{
    flex-basis: 33%;
    list-style: none;
}

.quic-links ul li a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(102, 102, 102);
    display: block;
    margin-bottom: 15px;
}

.footer-mid--right{
    flex-basis: 70%;
}

.category-row--heading{
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
    
}

